@import "~bootstrap/scss/bootstrap";

body {
  background-color: blue;
}

.brandLogo {
  height: 40%;
  width: 40%;
}

.hide {
  display: none!important;
}

.logoutImage {
  height: 100%;
  width: 100%;
}

.loginImage {
  height: 100%;
  width: 100%;
}

.logout {
  height: 50px;
  width: 100px;
  margin-left: auto;
}

.logInButton {
  height: 75px;
  width: 450px;
  margin-left: auto;
}



