@import "~bootstrap/scss/bootstrap";

// background images provided by toptal.com

body {
  background-image: url('./stirling-castle-202103.jpg');
  background-size: 100%;
}

nav {
  box-shadow: 0 8px 6px -6px rgb(73, 73, 73);
  background-image: url(./brickwall.png);
}

.brandLogo {
  height: 40%;
  width: 40%;
}

.hide {
  display: none;
}

.logoutImage {
  height: 100%;
  width: 100%;
}

.loginImage {
  height: 100%;
  width: 100%;
}

.logout {
  height: 50px;
  width: 100px;
  margin-left: auto;
}

.logInButton {
  height: 75px;
  width: 450px;
  margin-left: auto;
}



