#shows {
  .col-4 {
    margin: 1em 0;
  }
}

#viewEventSection{
  background-color: #930505;
  height: 100vh;
  box-sizing: border-box;
}

table{
  background-color: white;
}

.textColor{
  color: white;
}