#staff-header {
  margin: 1.5em;
  font-family: 'Almendra Display', cursive;
  font-weight: bold;
  font-size: 4em;
  text-decoration: underline;
  color: rgb(165, 119, 48);
  border-bottom: 1px solid rgb(147, 5, 5);
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0.5em;
}

#addStaffDiv {
  margin-bottom: 1.5em;
  margin-top: 0;
}